
.asideBox{
    position:fixed;
    right:1%;
    bottom:10%;
    z-index:9999;
}

.asideBox li a{
    display:block;
    margin-bottom:10px;
    background:#f00;
    font-family:Î¢ÈíÑÅºÚ;
    font-size:12px;
    color:#fff;
    border-radius:15%;
    -moz-border-radius:15%;
    -webkit-border-radius:15%;
    padding:8px 13px;
}
h1,h4{
    margin: -6px;
    font-size:0.8em;
}
.t_center h4{
    font-weight:bold;
}
